@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**PALETA DE CORES | COLLOR PALLETE**/
:root{
    --text: #ece7f8;
    --background: #06030c;
    --primary: #1c1826;
    --secondary: #a398b3;
    --accent: #5020cb;
    --primary_light: rgb(28, 24, 38);
    --secondary_shadow: rgb(163, 152, 179);
    --accent_light: rgb(80, 32, 203);
    --static7: rgba(255, 255, 255, 0.1);
    --static8: rgba(255, 255, 255, 0.05);
    --static9: rgba(255, 255, 255, 0.3);
}
.light-theme {
    --text: #0c0718;
    --background: #f6f3fc;
    --primary: #ddd9e7;
    --secondary: #574c67;
    --accent: #6534df;
    --primary_light: rgb(221, 217, 231);
    --secondary_shadow: rgb(87, 76, 103);
    --accent_light: rgb(101, 52, 223);
    --static7: rgba(0, 0, 0, 0.1);
    --static8: rgba(0, 0, 0, 0.05);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    transition: background-color 0.3s, color 0.3s;
    --static9: rgba(0, 0, 0, 0.3);
}

/**CABEÇALHO | HEADER**/
header {
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    color: var(--accent);
    text-decoration: none;
    font-weight: 900;
    font-size: 2em;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    text-align: center;
    margin: 0 50px;
}
nav a {
    color: var(--text);
    text-decoration: none;
    padding: 10px 20px;
}
nav .menu_page{
    transition: ease-in-out 0.3s;
}
nav .menu_page:hover{
    color: var(--accent);
    transition: ease-in-out 0.3s;
}
.theme-button{
    width: 70px;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--accent);
    outline: none;
}
.theme-icon {
    display: block;
    font-size: 1.8em;
}
.theme-emoji-popup{
    display: none;
    position: absolute;
    margin-top: 10px;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 16px -4px var(--secondary_shadow);
}

/**RODAPÉ | FOOTER**/
.footer{
    text-align: center;
    background-color: var(--primary);
    color: var(--text);
    font-size: 0.9em;
    padding: 20px;
    bottom: 0;
}
.footer_socials{
    display: flex;
    justify-content: space-around;
    width: 10%;
    margin: 20px auto 0px;
}
.social_media{
    width: 100%;
    transition: ease-in-out 0.3s;
}
.social_media a{
    font-size: 20px;
    color: var(--text);
}
.social_media:hover{
    transform: scale(1.3);
    transition: ease-in-out 0.3s;
}

/**HOME**/
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin: 0 10% 20%;
}
.developer_profile_img{
    position: relative;
    width: 37vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
}
.home .developer_profile_img img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}
.home .developer_greeting{
    font-weight: 300;
    font-size: 2.5em;
}
span.hand_waving_emoji{
    display:inline-block;
    animation: tilt-shaking 2.5s infinite;
    transform-origin: 70% 70%;
}
@keyframes tilt-shaking {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(12deg) }
   20% { transform: rotate(-6deg) }
   30% { transform: rotate(12deg) }
   40% { transform: rotate(-2deg) }
   50% { transform: rotate(8deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}
.home .developer_role{
    display: block;
    font-weight: 300;
    font-size: 1.7em;
}
.home .developer_role p{
    margin: 10px 0 60px;
}
.home .developer_name{
    display: block;
    font-weight: 700;
    font-size: 6em;
    color: var(--primary);
    background: -webkit-linear-gradient(135deg, var(--secondary), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.horizontal_line{
    margin: 40px 0 30px;
    width: 70px;
    border-top: 4px solid var(--text);
}
.developer_role #text_morphing{
    margin: 0 5px;
    font-weight: 700;
    color: var(--accent);
}
.developer_role p{
    line-height: 1.5;
}
.developer_goChat{
    color: var(--accent);
    font-weight: 300;
    font-size: 1.6em;
}
.developer_goChat a{
    text-decoration: none;
}
.developer_goChat a:active{
    color: var(--accent);
}
.developer_goChat a .fa-arrow-right{
    transition: ease-in-out 0.3s;
}
.developer_goChat a:hover .fa-arrow-right{
    margin-left: 10px;
    transition: ease-in-out 0.3s;
}
.home_buttons{
    margin-top: 100px;
}
.home_buttons .about_me, .home_buttons .download_cv{
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.home_buttons .about_me{
    background-color: var(--primary);
    color: var(--secondary);
    margin-right: 10px;
    border: 3px solid var(--primary);
    transition: ease-in-out 0.3s;
}
.home_buttons .about_me:hover{
    background-color: var(--accent);
    border: 3px solid var(--accent);
    transform: translateY(-0.25em);
    box-shadow: 0px 0px 40px var(--primary_light);
    transition: ease-in-out 0.3s;
}
.home_buttons .download_cv{
    background-color: transparent;
    color: var(--text);
    margin-left: 10px;
    border: 3px solid var(--secondary);
    transition: ease-in 0.3s;
}
.home_buttons .download_cv:hover{
    background-color: var(--secondary);
    color: var(--text);
    transform: translateY(-0.25em);
    box-shadow: 0px 0px 40px var(--secondary_shadow);
    transition: ease-in 0.3s;
}
.home_social_media{
    margin: auto 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vertical_line{
    height: 150px;
    border-left: 4px solid var(--text);
}
.home_socials{
    margin-top: 40px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/**PARÁGRAFOS | PARAGRAPHS**/
main{
    min-height: 100vh;
    height: 100%;
}
.content{
    width: 50%;
    margin: auto;
    justify-content: left;
    align-items: center;
}
.content_description{
    margin: 100px 0;
}
.common_paragraph, .main_paragraph{
    line-height: 2.5;
}
.main_paragraph{
    margin: 50px 0;
}
.common_paragraph{
    margin: 50px 0;
}
.common_paragraph strong, .main_paragraph strong{
    font-weight: 700;
}

/**PROJETOS | PROJECTS**/
.project_description{
    margin: 100px 0;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--static8);
}
.project_title{
    display: inline-block;
    color: var(--accent);
    font-size: 2em;
    font-weight: 700;
}
.project_columns{
    display: flex;
}
.project_columnOne, .project_columnTwo{
    padding: 30px 10px 0px 10px;
}
.project_columnOne{
    width: 40%;
}
.project_columnTwo{
    width: 60%;
}
.project_image{
    margin: 30px 0;
}
.project_columns img{
    width: 100%;
    border-radius: 10px;
}
.project_technologies, .project_website{
    margin: 30px 0;
    display: flex;
    color: var(--accent);
}
.project_technology{
    display: flex;
    margin: 0 7px;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.5s;
}
.project_technology:hover{
    background-color: var(--static9);
    transition: ease-in-out 0.5s;
}
.project_technologies i{
    font-size: 1.25em;
}
.project_website{
    align-items: center;
}
.project_website a{
    color: var(--text);
    font-weight: 400;
    transition: ease-in-out 0.2s;
}
.project_website a:hover{
    color: var(--accent);
    transition: ease-in-out 0.2s;
}
.project_website i{
    color: var(--accent);
    margin: 0 10px;
    font-size: 1.25em;
}
.project_columns .common_paragraph{
    margin: 30px 0;
}